html { overflow-y: scroll; }
body { font-family: sans-serif; color: #222; background-color: #eee; }
.margin-restraint { padding-left: 80px; padding-right: 80px; }
@media (max-width: 360px) {
  .margin-restraint { padding-left: 40px; padding-right: 40px; }
}
.page-container { margin: 0 auto 10px; padding-bottom: 20px; max-width: 400px; width: auto !important; width: 400px; background-color: #fff;
-webkit-box-shadow: 0px 0px 8px 0px #666; -moz-box-shadow: 0px 0px 8px 0px #666; box-shadow: 0px 0px 8px 0px #666; }
header { background-color: #222; color: #fff; text-transform: uppercase; padding-top: 30px; padding-bottom: 30px; letter-spacing: 1px; line-height: 17px; }
header a { color: #fff; }
header h1 { font-weight: 400; font-size: 13px; margin: 0; }
header h2 { font-weight: 400; font-size: 13px; color: #999; margin: 0; }
header h3 { font-weight: 400; font-size: 13px; margin: 0;}
nav { margin-top: 40px; margin-bottom: 40px; font-weight: 400; font-size: 12px; }
nav ul { display: block; text-transform: uppercase; padding: 0;}
nav ul li { display: inline; }
nav ul li a { margin-right: 50px; padding-left: 5px; border-left: 1px solid #999; }
nav ul li a.current { color: #222; border-left-color: #222; }
.content { font: 15px sans-serif; }
article { margin-bottom: 60px; position: relative; text-align: right; }
article h2 { font: 400 15px sans-serif; margin: 0; float: left; }
article hr { width: 75px; height: 4px; margin: 6px 0; background-color: #222; position: absolute; left: -80px; border: 0; }
.ie6 article hr { display: none; }
article ul { font: 400 15px sans-serif; color: #999; margin: 10px 0; border-right: 1px solid #999; }
article ul li { display: inline; border-left: 1px solid #999; padding: 0 10px; }
article p { clear: both; text-align: justify; }
a { text-decoration: none; color: #999; }
footer { text-align: center; text-transform: uppercase; font-size: 11px; color: #999; text-transform: uppercase; }
