*:focus {
  outline: none;
}

body {
  font-family: Inconsolata, Consolas, Menlo, 'DejaVu Sans Mono', 'Andale Mono', sans-serif;
  color: #222;
  background-color: #eee;
  padding-top: 10px;
}

.margin-restraint {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 480px) {
  .margin-restraint {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 360px) {
  .margin-restraint {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 280px) {
  .margin-restraint {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-container {
  margin: 0 auto 10px;
  max-width: 720px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #666;
}

a {
  text-decoration: none;
  color: #999;
}

.header {
  background-color: #222;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header h2,
.header h3 {
  font-size: 14pt;
  margin: 0;
}

.header h2 {
  text-transform: uppercase;
}

.header h3 {
  color: #999;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content > ul {
  display: block;
  padding: 0;
  list-style: none;
}

.content > ul > li > a::after {
  content: '\203A';
  margin-left: 5px;
  margin-right: 0;
  color: #000;
}

.footer {
  text-align: center;
  padding-top: 10px;
}

#qr-text {
  text-align: center;
  width: 100%;
}

#qr-code svg {
  min-height: 50vmin; /* for IE9-11 height */
}
