<html>

<head>
  <title>StreetEasy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
  <link rel="stylesheet" href="../public/stylesheets/sass/application.css">
  <script>
    $(document).ready(function () {
      $('.rental-comparison .btn-add').click(function () {
        var currCount = +$('.cart-count').text();
        var newCount = currCount + 1;

        $('.cart-count').finish();
        if (newCount === 1) {
          $('.cart-container').addClass('filled');
          $('.cart-count').text(newCount);
        } else {
          $('.cart-count').addClass('bounce').delay(250).queue(function (next) {
            $(this).text(newCount);
            next();
          }).delay(250).queue(function (next) {
            $(this).removeClass('bounce');
            next();
          });
        }
      })
    });
  </script>
</head>

<body>
  <div class="container">
    <h1>Rental Comparisons</h1>
    <ul class="rental-comparison">
      <li class="card">
        <img src="https://cdn-img0.streeteasy.com/nyc/image/80/300281080.jpg">
        <button class="btn-add">ADD</button>
        <div class="address">
          <div class="street">130 5th Avenue</div>
          <div class="city">New York</div>
        </div>
      </li>

      <li class="card">
        <img src="https://cdn-img0.streeteasy.com/nyc/image/80/300281080.jpg">
        <button class="btn-add">ADD</button>
        <div class="address">
          <div class="street">130 5th Avenue</div>
          <div class="city">New York</div>
        </div>
      </li>

      <li class="card">
        <img src="https://cdn-img0.streeteasy.com/nyc/image/80/300281080.jpg">
        <button class="btn-add">ADD</button>
        <div class="address">
          <div class="street">130 5th Avenue</div>
          <div class="city">New York</div>
        </div>
      </li>

      <li class="card">
        <img src="https://cdn-img0.streeteasy.com/nyc/image/80/300281080.jpg">
        <button class="btn-add">ADD</button>
        <div class="address">
          <div class="street">130 5th Avenue</div>
          <div class="city">New York</div>
        </div>
      </li>

      <li class="card">
        <img src="https://cdn-img0.streeteasy.com/nyc/image/80/300281080.jpg">
        <button class="btn-add">ADD</button>
        <div class="address">
          <div class="street">130 5th Avenue</div>
          <div class="city">New York</div>
        </div>
      </li>

      <li class="card">
        <img src="https://cdn-img0.streeteasy.com/nyc/image/80/300281080.jpg">
        <button class="btn-add">ADD</button>
        <div class="address">
          <div class="street">130 5th Avenue</div>
          <div class="city">New York</div>
        </div>
      </li>

      <li class="card">
        <img src="https://cdn-img0.streeteasy.com/nyc/image/80/300281080.jpg">
        <button class="btn-add">ADD</button>
        <div class="address">
          <div class="street">130 5th Avenue</div>
          <div class="city">New York</div>
        </div>
      </li>
    </ul>

    <div class="cart-container">
      <div class="cart">
      </div>
      <div class="cart-count">0</div>
    </div>
  </div>
</body>

</html>