/* http://www.fontspring.com/blog/fixing-ie9-font-face-problems */

@font-face {
	font-family: 'HelveticaNeueLT Com 47 LtCn';
	src: url('HelveticaNeueLTCom-LtCn.woff') format('woff'), url('HelveticaNeueLTCom-LtCn.ttf') format('truetype');
}
@font-face {
	font-family: 'HelveticaNeueLT Com 67 MdCn';
	src: url('HelveticaNeueLTCom-MdCn.woff') format('woff'), url('HelveticaNeueLTCom-MdCn.ttf') format('truetype');
}
@font-face {
	font-family: 'HelveticaNeueLT Com 55 Roman';
	src: url('HelveticaNeueLTCom-Roman.woff') format('woff'), url('HelveticaNeueLTCom-Roman.ttf') format('truetype');
}

