@font-face {
	font-family: 'HelveticaNeueLTCom-Lt';
	src: url('HelveticaNeueLTCom-Lt.eot?') format('eot'), url('HelveticaNeueLTCom-Lt.woff') format('woff'), url('HelveticaNeueLTCom-Lt.ttf') format('truetype');
}
@font-face {
	font-family: 'HelveticaNeueLTCom-LtCn';
	src: url('HelveticaNeueLTCom-LtCn.eot?') format('eot'), url('HelveticaNeueLTCom-LtCn.woff') format('woff'), url('HelveticaNeueLTCom-LtCn.ttf') format('truetype');
}
@font-face {
	font-family: 'HelveticaNeueLTCom-MdCn';
	src: url('HelveticaNeueLTCom-MdCn.eot?') format('eot'), url('HelveticaNeueLTCom-MdCn.woff') format('woff'), url('HelveticaNeueLTCom-MdCn.ttf') format('truetype');
}
@font-face {
	font-family: 'HelveticaNeueLTCom-Roman';
	src: url('HelveticaNeueLTCom-Roman.eot?') format('eot'), url('HelveticaNeueLTCom-Roman.woff') format('woff'), url('HelveticaNeueLTCom-Roman.ttf') format('truetype');
}
@font-face {
	font-family: 'HelveticaNeueLTCom-UltLt';
	src: url('HelveticaNeueLTCom-UltLt.eot?') format('eot'), url('HelveticaNeueLTCom-UltLt.woff') format('woff'), url('HelveticaNeueLTCom-UltLt.ttf') format('truetype');
}

